
Library/

Logs/

obj/

Packages/

Temp/

UserSettings/

Assets/Hierarchy 2/Editor Resources/Icons/icon_branch_I.png

Assets/Hierarchy 2/Editor Resources/Icons/icon_branch_L.png

Assets/Hierarchy 2/Editor Resources/Icons/icon_branch_T.png
